@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 5%;
    font-family: 'Nunito', sans-serif, 'Times New Roman';
    color: #000000;
    background-color: #FFEAFF;
    background-image: url(../images/firecracker.png);
}

header {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}

main {
    background-color: #FFFFFF;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 0px 0px 10px 10px;
    font-size: 20px;
}


h1 {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    padding: 12px;
}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    padding: 12px;
    margin-bottom: 30px;
}

p {
    font-weight: 400;
    line-height: 2;
}

img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 3px groove #ef95e1;
    padding: 10px;
}

img:hover {
    border: 3px dotted #ef95e1;
}

nav {
    padding: 30px;
    text-align: center;
    margin: auto;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.title {
    color: #000000;
}

nav li {
    color: #000000;
    padding: 10px;
    display: inline-block;
    width: 80%;
    margin: auto;
    font-size: 20px;
}

nav li:hover {
    background-color: #ef95e1;
    box-shadow: 0 5px rgb(185, 185, 185);
    transform: translateY(-4px);
    border-radius: 20px;
  }

footer p {
    text-align: center;
}

.active {
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #FFEAFF;
}

a:visited{color: #000000;}

a:link{text-decoration: none}

hr {
    background-color: #E35550;
    height: 6px;
}

.skip:hover{
    color: #E35550;
}


a.ul-link {
    text-decoration: underline;
    text-decoration-color: #000000;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

.image-container .styled-img:nth-child(2n) {
    border: 3px groove #000000;
}

.main-content {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.flex-row-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    gap: 30px;
}

.text-container {
    padding: 10px;
}

.food-images {
    padding: 40px;
    padding-top: 10px;
}

.intro {
    padding: 10px;
}

.parallax {
    background-image: url(../images/gracecoffee.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 70%;
    height: 400px;
    margin: auto;

    border: 2px solid #000000;
}

 .animated {
    animation-duration: 2s;
    animation-name: slide;
  }
  
  @keyframes slide {
    from {
      margin-left: 50%;
    }
  
    to {
      margin-left: 30%;
    }
  }

  .image-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 50px;
  }

  form {
    width: 100%;
    margin: auto;
    padding: 40px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  input, textarea,.btn-large {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
  }

  input {
      height: 30px;
  }

  textarea {
      height: 100px;
  }

  .btn-large {
      background-color: #ef95e1;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      font-size: 20px;
  }

/*copied and pasted from w3 schools, changed a lot of styling to fit images and needs*/

.food-card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: auto;
  }

  .food-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .food-card:hover .food-card-inner, .food-card:focus-within .food-card-inner {
    transform: rotateY(180deg);
  }

  .food-card-front, .food-card-back {
    position: absolute;
    backface-visibility: hidden;
    padding: 0px;
    margin: 0;
    width: 300px;
    height: 200px;
  }

  .food-card-back {
    color: black;
    transform: rotateY(180deg);
    border: 3px groove #ef95e1;
    width: 300px;
    height: 200px;
  }

  .food-card-back p {
    padding: 10px;
  }

  #Spotify {
      width: 80%;
      margin: auto;
      margin-top: 60px;
  }

  .flex-col-cont {
    padding: 0px;
}

.large-text {
    font-size: 24px;
}

.food-card-img {
    height: 200px;
    object-fit: cover;
}

.fa-solid {
    margin-right: 10px;
}

#text-enlarge-btn {
    text-align: center;
}


@media screen and (min-width: 800px) {
    .flex-row-cont {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        row-gap: 20px;
    }

    main {
        padding: 50px;
    }

    .main-content {
        padding: 40px;
    }

    .text-container {
        padding: 40px;
    }

    .intro {
        padding-left: 40px;
        padding-right: 40px;
    }

    ul {
        flex-direction: row;
    }

    nav li {
        width: 10%;
    }

    .large-text {
        font-size: 26px;
    }

    ul {
        text-align: center;
    }

    .fa-solid {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    #text-enlarge-btn {
        padding: 0px;
        margin: 0px;
    }

    .image-grid {
        grid-template-columns: auto repeat(4, 150px) auto;
        grid-template-rows: auto auto;
        align-content: center;
        justify-items: end;
        margin: auto;
    }

    .grid-item-1 {
        grid-column: 2 / span 1;
        grid-row: 1/1;
    }

    .grid-item-2 {
        grid-column: 4 / span 1;
        grid-row: 1/1;
    }

    .grid-item-3 {
        grid-column: 3 / span 1;
        grid-row: 2/2;
    }

}

@media screen and (min-width: 1100px) {
    .fa-solid {
        margin: 0px;
        margin-right: 10px;
    }

    .image-grid {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }

    .grid-item-1 {
        grid-column: 1 / span 1;
    }

    .grid-item-2 {
        grid-column: 2 / span 1;
    }

    .grid-item-3 {
        grid-column: 3 / span 1;
        grid-row: 1/1;
    }

}

@media (prefers-reduced-motion) {
    .animated {
      animation-name: none;
      animation-duration: 0s;
    }

    .food-card:hover .food-card-inner,
    .food-card:focus-within .food-card-inner, .food-card:focus .food-card-inner {
      transform: rotateY(0deg);
    }

    .food-card-inner {
        display: flex;
        flex-direction: column;
    }

    .food-card-back {
        display: block;
        backface-visibility: visible;
        border: none;
        transform: rotateY(0deg);
        position: relative;
        margin-top: 200px;
    }

    .food-card {
        height: 300px;
    }

    .food-card-back {
        margin-top: 220px;
    }

    .food-images {
        padding-bottom: 100px;
    }

    .parallax {
        background-attachment: scroll;
    }

}
